@font-face {
  font-display: swap;
  font-family: Anderson Grotesk;
  font-style: normal;
  font-weight: 700;
  src: url(@/assets/fonts/AndersonGrotesk-Bold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Anderson Grotesk;
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/fonts/AndersonGrotesk-Regular.woff2) format('woff2');
}
